<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFMTB People</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .content {
            padding: 20px;
        }

        .footer {
            background-color: #f4f4f4;
            padding: 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
        }

        /* Responsive Styles */
        @media screen and (max-width: 600px) {
            .container {
                width: 100%;
                border-radius: 0;
            }
        }
        .content h1{
            font-size: 20px;
            color: #333;
        }
        .content p{
            font-size: 16px;
            color: #333;
        }

        .content strong{
            font-size: 20px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <h1>
                <a href="{{ siteUrl }}" style="color: #fff; text-decoration: none;">AFMTB People</a>
            </h1>
        </div>
        <!-- Content -->
        <div class="content">
            <h1>
                Hi {{ name }},
            </h1>
            <p>
                You requested to reset your password. Use this OTP to reset your password.
            </p>
            <p>
                <strong>{{ otp }}</strong>
            </p>
        </div>
        <!-- Footer -->
        <div class="footer">
            <p>&copy; 2024 Your AFMTB People</p>
        </div>
    </div>
</body>
</html>
